<div class="grid">
    <div class="col-12 md:col-8 lg:col-6 md:col-offset-2 lg:col-offset-3">
        <h1>Picture of the Day</h1>
        <div class="card flex justify-content-center">
            <p-card header="{{pic.title}}">
                <ng-template pTemplate="header">
                    <img alt="Picture of the Day" src="{{pic.url}}" />
                </ng-template>
                <p class="m-0">
                    <p-tag value="{{pic.date}}"></p-tag>
                </p>
                <hr>
                <p class="m-0 expl">
                    {{pic.explanation}}
                </p>
            </p-card>
        </div>
    </div>
</div>
