<div class="grid">
    <div class="col-12 md:col-8 lg:col-6 md:col-offset-2 lg:col-offset-3">
        <h1>Image Carousel</h1>
        <p-carousel [value]="images" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="5000">
            <ng-template let-image pTemplate="item">
                <div class="border-1 surface-border border-round text-center py-2 px-1">
                    <div class="mb-3">
                        <img [src]="image.url" [alt]="image.title" class="w-12 shadow-2" />
                    </div>
                    <div>
                        <h4 class="mb-1">{{ image.title }}</h4>
                        <p-tag [value]="image.date"></p-tag>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>